<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MuboxConfig" type="Mubox.Configuration.MuboxConfigSection, Mubox" />
  </configSections>
  <MuboxConfig>
    <Keys>
      <add InputKey="W" OutputKey="W" ActiveClientOnly="true" />
      <add InputKey="S" OutputKey="S" ActiveClientOnly="true" />
      <add InputKey="A" OutputKey="A" ActiveClientOnly="true" />
      <add InputKey="D" OutputKey="D" ActiveClientOnly="true" />
      <add InputKey="OEM2" OutputKey="OEM2" ActiveClientOnly="true" />
      <add InputKey="Divide" OutputKey="Divide" ActiveClientOnly="true" />
      <add InputKey="E" OutputKey="E" ActiveClientOnly="true" />
      <add InputKey="Return" OutputKey="Return" ActiveClientOnly="true" />
      <add InputKey="OEM5" OutputKey="OEM5" ActiveClientOnly="true" />
      <add InputKey="Escape" OutputKey="Escape" ActiveClientOnly="true" />
      <add InputKey="Tab" OutputKey="Tab" ActiveClientOnly="true" />
      <add InputKey="Tilde" OutputKey="Tilde" ActiveClientOnly="true" />
      <add InputKey="LeftWindows" OutputKey="LeftWindows" ActiveClientOnly="true" />
      <add InputKey="F5" OutputKey="F5" SendToDesktop="true" />
      <add InputKey="F9" OutputKey="F9" SendToDesktop="true" />
      <add InputKey="N7" OutputKey="N7" ActiveClientOnly="false" />
      <add InputKey="R" OutputKey="R" RoundRobinKey="true" />
      <add InputKey="I" OutputKey="I" RoundRobinKey="true" />
      <add InputKey="G" OutputKey="G" RoundRobinKey="true" />
      <add InputKey="T" OutputKey="T" RoundRobinKey="true" />
      <add InputKey="Print" OutputKey="Print" SendToDesktop="true" />
    </Keys>
  </MuboxConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>